/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* XXX Background color collision. */
/* XXX Apparently we have to specify the family for every rule?  Where's the
 * cascade?  Check with Neil or somebody. */
treechildren::-moz-tree-cell-text(PROCESSING_INSTRUCTION_NODE) {
  font-family: -moz-fixed;
  color: orchid;
}

treechildren::-moz-tree-cell-text(DOCUMENT_NODE) {
  font-family: -moz-fixed;
  color: darkslategray;
}

treechildren::-moz-tree-cell-text(DOCUMENT_TYPE_NODE) {
  font-family: -moz-fixed;
  color: steelblue;
  font-style: italic;
}

treechildren::-moz-tree-cell-text(COMMENT_NODE) {
  font-family: -moz-fixed;
  color: green;
  font-style: italic;
}

treechildren::-moz-tree-cell-text(ELEMENT_NODE) {
  font-family: -moz-fixed;
  color: purple;
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(TEXT_NODE) {
  font-family: -moz-fixed;
  color: black;
}

treechildren::-moz-tree-cell-text(attribute-name) {
  font-family: -moz-fixed;
  color: black;
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(attribute-value) {
  font-family: -moz-fixed;
  color: blue;
}

treechildren::-moz-tree-cell-text(anonymous) {
  font-family: -moz-fixed;
  color: dimgray;
  font-weight: normal;
}
