/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.nosubject {
  max-width: 24ch;
  max-height: 0;
  font-size: large;
  text-align: center;
}
