/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* NB: The position of this rule *must* stay in sync with
 * `LABEL_TRANSFORM_RULE_INDEX` in utils/viewerBarController.js.  The
 * controller will compute a translation for the label relative to its
 * "natural" (centered) position so that it will move to the position of the
 * input's anonymous text container div at edit time. */
[editing='true'] .label {
  /* NB: This is just a placeholder; it doesn't actually matter what the
   * translation value is here (or even that a translation is the type of
   * effect we have set up).  The whole property gets overwritten by the
   * viewer bar controller just before the label is set to editing="true". */
  transform: translateX(0);
  transition: transform 0.1s ease-in;
}

.label {
  cursor: default;
  -moz-user-input: enabled;
  -moz-user-focus: normal;
}

/* NB: Similar to the reason above, this, too, must have its position kept in
/* sync with `DROP_MARKER_TRANSFORM_RULE` in utils/viewerBarController.js. */
[editing='true'] .label-dropmarker {
  transform: translateX(0);
  transition: transform 0.1s ease-in;
}

.label-dropmarker {
  -moz-appearance: toolbarbutton-dropdown;
}

[editing='true'] .label-panel {
  /* The viewer bar will bind #viewer-bar-input to the appropriate textbox at
  /* edit time, using `mozSetImageElement`. */
  background: -moz-element(#viewer-bar-input) 50% 50% no-repeat;
}

.label-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-panel:hover {
  text-decoration: underline;
}

/* Since we're translating the label in an attempt to appear that the
 * textbox's value is sliding over to be edited, we hide the textbox's actual
 * text during the transition by making it transparent.  We'll make it
 * reappear at the end of the transition, i.e., once the label has lined up
 * with it. */
[editing='true'] .input {
  opacity: 1;
  color: -moz-fieldtext;
  transition: opacity 0.1s, color 0.1s steps(1);
}

.input {
  /* XXX I can't get the transition to make it appear as if the textbox is
   * fading in; it just pops in at 100% opacity at the end of the transition.
   * So we start at 50% to give it some semblance of a fade.  It will go
   * through three steps this way: completely invisible, 50% during the brief
   * transition, and completely visible at the end. --crussell */
  opacity: 0.5;
  color: transparent;
}
