/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin");

#olCSSStyle {
  margin: 0px;
}

treechildren::-moz-tree-cell-text(CSS_RULE) {
  font-family: -moz-fixed;
  color: indigo;
}

treechildren::-moz-tree-cell-text(CSS_INLINE_STYLE) {
  font-family: -moz-fixed;
  color: black;
}

treechildren::-moz-tree-cell-text(CSS_PROPERTY_NAME) {
  font-family: -moz-fixed;
  color: darkgreen;
}

treechildren::-moz-tree-cell-text(CSS_PROPERTY_VALUE) {
  font-family: -moz-fixed;
  color: mediumblue;
}

treechildren::-moz-tree-cell-text(SOURCE_LOCATION) {
  font-style: italic;
  color: gray;
}

treechildren::-moz-tree-cell-text(SOURCE_LOCATION, hover) {
  text-decoration: underline;
  cursor: pointer;
}

treechildren::-moz-tree-cell-text(SOURCE_LOCATION, selected) {
  color: white;
}
