
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin");
@import url("chrome://sepsis-inspector/skin/domSource.css");

#bxNodeInfo {
  margin-top: 0.5em;
}

#bxDocumentDetails {
  margin-top: 0.5em;
}

#olAttributes {
  margin: 0px;
}
