@namespace xhtml url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@font-face {
  font-family: "Open Sans Semibold";
  src: url("chrome://sepsis-inspector/skin/OpenSans-Semibold.ttf") format("truetype");
}

.snippet-container {
  width: 45ch;
  font-size: 0.9em;
  font-family: "Open Sans Semibold";

  text-align: justify;
}

.example {
  margin-left: 2em;
}

#setterExampleValue {
  font-style: italic;
}

.snippet + .snippet:not(.firstsnippet) {
  margin-top: 1em;
}

.monospace {
  font-family: monospace;
}

a.welllinked {
  text-decoration: underline;
}
