@font-face {
  font-family: "Open Sans Light";
  src: url("chrome://sepsis-inspector/skin/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("chrome://sepsis-inspector/skin/OpenSans-Regular.ttf") format("truetype");
}

body {
  background-color: white;
  font-family: "Open Sans Regular";
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-family: "Open Sans Light";
}

h2 {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: larger;
}

section {
  padding: 0.83em 1em 0.83em 1em;
}

a[href] {
  color: #0095DD;
}

a[href]:hover, a[href]:active {
  text-decoration: underline;
}

input.help {
  -moz-appearance: none;
  border: 0px;
  background-color: transparent;
  background-image: url("chrome://sepsis-inspector/skin/help.svg");
  background-position: center center;
  background-repeat: no-repeat;

  display: inline-block;
  float: right; /* XXX l10n? */
}

input.help:not(:hover):not(:focus) {
  opacity: 0.25;
}

ul, dl {
 -moz-padding-start: 1.5em;
 margin-top: 0.25em;
 margin-bottom: 0.25em;
 list-style-type: none;
}

#bxValueLabel, #bxValue dt, #bxValue dd, pre /* XXX */ {
  display: inline;
}

dd {
  -moz-margin-start: 0;
}

/*
 * Cases:
 *  neither get nor set: Don't show either.
 *  get or set: Show one and dim the other.
 *  get and set: Show both.
 */
#bxGetterSetterInfo:not(.hasGetter):not(.hasSetter) {
  display: none;
}

#bxGetterSetterInfo:not(.hasGetter) #bxGetterLabel,
#bxGetterSetterInfo:not(.hasGetter) #bxGetterValue,
#bxGetterSetterInfo:not(.hasSetter) #bxSetterLabel,
#bxGetterSetterInfo:not(.hasSetter) #bxSetterValue {
  color: silver;
}

#bxWritabilityLabel.accessor {
  color: silver;
}

#bxHeritage {
  background-color: #F4F7F8;
}

/* Make sure the help button can float beside it. */
#bxHeritageLabel {
  display: inline-block;
}

#bxHeritageList .owner {
 list-style-image: url("chrome://sepsis-inspector/skin/heritage-arrow.svg");
}

#bxPanelFrame {
  height: 0px;
  border: 0px;
  padding: 0px;
}
