/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.attachMenu {
  -moz-binding: url("chrome://sepsis-inspector/content/bindings/attachmenus.xml#attachMenu");
}

.attachMenuTooltip {
  -moz-binding: url("chrome://sepsis-inspector/content/bindings/attachmenus.xml#attachMenuTooltip");
}
